@import '../../theme.css';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 225px;
  font-weight: 500;
  font-size: 18px;
  color: var(--foregroundDarkGreen);
  cursor: pointer;
  background-color: var(--darkGreen);
  box-shadow: 0 2px 4px color(var(--dark) a(.12));
  border: 0;
  border-radius: 3px;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: translateY(3px);
    outline: 0;
    box-shadow: none;
  }
}

.cta {
  background-color: var(--accent);
  box-shadow: 0 2px 0 color(var(--accent) lightness(-15%) blackness(15%));
  border: 0;
}
