@import '../../theme.css';

.tableOfContents {
  background: color(var(--dark) a(.075));
  border-radius: 3px;
  float: right;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  font-size: 16px;
  line-height: 23.04px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}

.link {
  display: block;
}

@media (--medium) {
  .tableOfContents {
    width: auto;
    max-width: 220px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}
