@import '../theme.css';

.buttonArrow {
  line-height: .9;
  font-size: 24px;
}

.section {
  padding: 36px 18px;
  background-color: var(--white);
}

.intro {
  & .half {
    width: 100%;
  }

  & h1 {
    margin: 0;
  }

  & p {
    font-size: 20px;
    font-weight: 300;
  }
}

@media (--small) {
  .section {
    padding: 40px 24px;
  }

  .intro .half {
    width: 50%;
  }
}

@media (--medium) {
  .section {
    padding: 60px 24px;
  }
}
