@import '../theme.css';

.buttonArrow {
  line-height: .9;
  font-size: 24px;
}

.section {
  background-color: var(--white);

  & > :first-child {
    padding-top: 36px;
  }

  & > :last-child {
    padding-bottom: 36px;
  }
}

.intro .half {
  width: 100%;
}

.intro h1 {
  margin: 0;
}

.intro p {
  font-size: 20px;
  font-weight: 300;
}

.specBirth {
  background-color: #fff;
  padding: 24px 0;
}

@media (--small) {
  .section > :first-child {
    padding-top: 40px;
  }

  .section > :last-child {
    padding-bottom: 40px;
  }

  .intro .half {
    width: 50%;
  }
}

@media (--medium) {
  .section > :first-child {
    padding-top: 60px;
  }

  .section > :last-child {
    padding-bottom: 60px;
  }

  .specBirth {
    padding: 40px 0;
  }
}
