@import '../../../theme.css';

.request {
  display: flex;
  /* border: 2px solid var(--darkGreen); */
  padding: 12px 24px;
  line-height: 1.4;
  margin-left: -6px;
  margin-right: -6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  font-family: inconsolata, monospace;
  box-shadow: 0 15px 35px color(var(--white) a(.1)),
              0 5px 15px color(var(--dark) a(.12));
}

.lines {
  margin-right: 12px;
  color: color(var(--dark) a(.6));
}

.results {
  display: flex;
  flex-direction: column;
  margin-left: -6px;
  margin-right: -6px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 15px 35px color(var(--white) a(.1)),
              0 5px 15px color(var(--dark) a(.12));
}

.result {
  height: 40px;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  border: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity .2s ease-out,
              max-height .2s ease-out,
              transform .2s ease-out;

  &.visible {
    opacity: 1;
    max-height: 40px;
    transform: scaleY(1);
    border-top: 1px solid color(var(--dark) a(.12));
  }

  & > pre {
    padding: 10px;
    font-size: 12px;
    margin: 0;
    height: 100%;
    line-height: 20px;
  }
}

.code {
  line-height: 1.4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  font-family: inconsolata, monospace;
  margin: 0;
  color: color(var(--dark) a(.8));
}

.str {
  color: var(--accent);
}

.nb {
  color: color(var(--primary) lightness(-15%));
}

@media (--small) {
  .request, .results {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (--medium) {
  .result {
    height: 44px;

    &.visible {
      max-height: 44px;
    }
  }

  .result > pre {
    font-size: 16px;
    line-height: 24px;
  }
}
