@import '../../theme.css';

.drawer {
  position: fixed;
  flex-direction: column;
  height: 100%;
  top: 0;
  right: 0;
  width: 200px;
  background-color: var(--dark);
  z-index: 1000;
}

.link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--foregroundDark);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid color(#fff a(.24));

  &:hover {
    background-color: color(#fff a(.12));
  }
}

a.link:last-of-type {
  border-bottom: 3px solid color(#fff a(.42));
}

.additionalCategory {
  composes: link;
  font-size: 16px;
}

.additionalSublinks {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 4px solid color(var(--foregroundDark) a(.42));

  & > li {
    padding: 8px 16px;

    & > a {
      color: color(var(--foregroundDark) a(.7));
      text-decoration: none;
    }
  }
}

.cross {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  margin-right: 4px;
  transform: scale(.7);
}

.cross .line {
  height: 3px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;

  &:first-child {
    transform: translateY(8px) rotate(-45deg);
  }

  &:last-child {
    transform: translateY(8px) rotate(45deg);
  }
}

.backdrop {
  background-color: transparent;
  transition: 0.2s ease-out background-color;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.24);
}

.transitionDrawer {
  &Enter {
    transform: translateX(200px);
  }

  &EnterActive {
    transition: 200ms var(--easingDecelerate) transform;
    transform: translateX(0);
  }

  &Exit {
    transform: translateX(0);
  }

  &ExitActive {
    transition: 200ms var(--easingAccelerate) transform;
    transform: translateX(200px);
  }
}

.transitionBackdrop {
  &Enter {
    opacity: 0.01;
  }

  &EnterActive {
    transition: 200ms var(--easingStandard) opacity;
    opacity: 1;
  }

  &Exit {
    opacity: 1;
  }

  &ExitActive {
    transition: 200ms var(--easingStandard) opacity;
    opacity: 0.01;
  }
}

.additionalCategorySlide {
  transition-duration: .25s;
  transition-timing-function: ease-out;
}
