*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

button {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

.light {
  font-weight: 200;
}
