@import './theme.css';

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

button {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  letter-spacing: -.5px;
}

h1 {
  letter-spacing: -1.5px;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.light {
  font-weight: 200;
}

.space {
  flex: 1;
}

code {
  display: flex;
  padding: 12px 24px;
  line-height: 1.4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  font-family: inconsolata,monospace;
  border: 1px solid rgba(18,40,47,.12);
}

pre {
  margin: 0;
  color: color(var(--dark) a(.8));

  & > .str {
    color: var(--accent);
  }

  & > .nb {
    color: color(var(--primary) lightness(-15%));
  }
}
