:root {
  --primary: #64e5f1;
  --foregroundPrimary: #000;

  --dark: #222;
  --foregroundDark: #fff;

  --accent: #ff7d92;
  --foregroundAccent: #fff;

  --white: #f5ffff;
  --foregroundWhite: #000;

  --darkGreen: #255f6e;
  --foregroundDarkGreen: #fff;

  --easingStandard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --easingDecelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --easingAccelerate: cubic-bezier(0.4, 0.0, 1, 1);
}

@custom-media --small (min-width: 576px);
@custom-media --medium (min-width: 768px);
@custom-media --large (min-width: 996px);
@custom-media --extra (min-width: 1200px);
