@import '../../../theme.css';

.split {
  padding: 20px 20px 20px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.content > article {
  padding: 60px 0;
}

.content > article > h1 {
  font-size: 28px;
  letter-spacing: -1px;
}

.content > figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (--small) {
  .content {
    flex-direction: row;
  }

  .content > article {
    width: 50%;
    padding: 60px 60px 60px 0;
  }

  .content > figure {
    width: 50%;
  }
}
