@import '../../../theme.css';

.split {
  padding: 20px;
  padding-bottom: 0 !important;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.content > article {
  padding: 60px 0;
}

.content > article > h1 {
  font-size: 28px;
  letter-spacing: -1px;
}

.content > figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > img {
    margin: 0 auto;
  }
}

@media (--small) {
  .content {
    flex-direction: row;
  }

  .content > article {
    width: 50%;
    padding: 60px 60px 60px 0;
  }

  .content > figure {
    width: 50%;

    & > img {
      margin: 0;
    }
  }
}
